/* ----------------------------------------- Section des variables ----------------------------------------- */

// Ici sont regroupées les variables utilisées sur le site afin de pouvoir en les modifiant les répercutés partout ailleurs

/*************************** Set de couleurs préconfigurées ****************************/

// Couleurs d'YMAG
$clr-ymag-bleu: rgb(10, 100, 174) !important;
$clr-ymag-vert: #28a94d !important;
$clr-ymag-bleuvert: rgb(80, 197, 183) !important;

// couleurThème Clair
$clr-TC-primaire: rgb(255, 255, 255) !important;
$clr-TC-secondaire: rgb(242, 242, 242) !important;
$clr-TC-tertiaire: rgb(222, 226, 230) !important;
$clr-TC-police: rgb(33, 37, 41) !important;

// Thème Sombre
$clr-TS-primaire: rgb(84, 84, 84) !important;
$clr-TS-secondaire: rgb(51, 51, 51) !important;
$clr-TS-tertiaire: rgb(39, 39, 39) !important;
$clr-TS-police: rgb(226, 226, 226) !important;

// Couleurs Catégories
$clr-cat-acceslibre: #393A4E !important;
$clr-cat-blended: #974c75 !important;
$clr-cat-elearning: #ED6A5E !important;
$clr-cat-oryzea: #297373 !important;


// Dégradé Vertical préconfiguré avec le bleu d'ymag en couleur venant du Haut et le vert venant du Bas
$clr-dgrd-modif-V: linear-gradient(to bottom, $clr-ymag-bleu 0%, $clr-ymag-vert 100%);


// Dégradé Horizontal préconfiguré avec le bleu d'ymag en couleur venant de la Gauche et le vert venant de la Droite
$clr-dgrd-modif-H: linear-gradient(to right, $clr-ymag-bleu 0%, $clr-ymag-vert 100%);

// Dégradé Vertical modifiable préconfiguré avec le bleu d'ymag en couleur venant du Haut ($clr_H) et le vert venant du Bas ($clr_B)
@mixin clr-dgrd-modif-V($clr_H: $clr-ymag-bleu, $clr_B: $clr-ymag-vert) {
    background: -webkit-linear-gradient(bottom, $clr_H 0%, $clr_B 100%);
    background: -moz-linear-gradient(bottom, $clr_H 0%, $clr_B 100%);
    background: linear-gradient(to bottom, $clr_H 0%, $clr_B 100%);
}

// Dégradé Horizontal modifiable préconfiguré avec le bleu d'ymag en couleur venant de la Gauche ($clr_G) et le vert venant de la Droite ($clr_D)
@mixin clr-dgrd-modif-H($clr_G: $clr-ymag-bleu, $clr_D: $clr-ymag-vert) {
    background: -webkit-linear-gradient(right, $clr_G 0%, $clr_D 100%);
    background: -moz-linear-gradient(right, $clr_G 0%, $clr_D 100%);
    background: linear-gradient(to right, $clr_G 0%, $clr_D 100%);
}

/* --------------------------------------- Règles CSS --------------------------------------- */

// Page Case.
section[data-block="newsslider"] {

    background: #fff; // rgba(255, 168, 38, 1); #9cdeaf

    & .card-body {

        padding: 0 !important;

        & h3.card-title, h5.card-title {
            display: none !important;
        }

        & .card-text {

            overflow: visible !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & #newsLabelContent{

                display: flex;

                & .actualitesIcon {

                    position: relative;
    
                    background-color: #28a94d;
                    padding: 10px 15px 10px 15px;
                    border-radius: 0.3rem;
    
                    font-weight: 600;
                    color: $clr-TC-primaire;

                    margin-left: 20px;
                    max-width: 50%;
                }

                & #newsList {

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    min-width: 80%;
                        
                    & #actualitesList {
    
                        display: flex;
                        list-style-type: none;
                        position: absolute;
                        min-width: 80%;
                        align-items: center;
                        margin: 0;
        
                        & .actualitesListItem {
        
                            position: absolute;
                            visibility: hidden;
                            opacity: 0;
        
                            transition: all 1s ease-in-out;
                            animation-timing-function: ease-in-out;
                            -webkit-animation-timing-function: ease-in-out;
        
                            &.glideAppear {
        
                                opacity: 0;
                                visibility: hidden;
                                left: 60px;
                                animation: newsglideRtoLApp 0.25s;
                                animation-fill-mode: forwards;
                            }
        
                            &.glideDisappear {
        
                                opacity: 1;
                                visibility: visible;
                                left: 30px;
                                animation: newsglideRtoLDis 0.25s;
                                animation-fill-mode: forwards;
                            }
        
                            &:hover {
                                text-decoration: underline;
                            }
        
                            & .actualitesCategories {
        
                                font-size: 110%;
                                color: #28a94d;
        
                            }
        
                            & a {
        
                                text-decoration: none;
                                font-size: 100%;
                                color: $clr-TC-police;
                            }
        
                        }
                    }
                }
            }
                    
            & #dotContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 18px;

                .dots {

                    border-radius: 50%;
                    display: inline-block;
                    margin: 0 5px 0 5px;

                    transition: all 0.25s ease-in-out;
                    animation-timing-function: ease-in-out;
                    -webkit-animation-timing-function: ease-in-out;

                    &.grey {

                        background-color: #a9a9a9;
                        opacity: 80%;

                        &:hover {

                            background-color: #a9a9a9;
                            opacity: 100%;
                            cursor: pointer;
                        }
                    }

                    &.green {

                        background-color: #28a94d;
                        opacity: 80%;

                        &:hover {

                            background-color: #28a94d;
                            opacity: 100%;
                            cursor: pointer;
                        }
                    }

                    &.lrg {

                        height: 12px;
                        width: 12px;
                    }

                    &.sml {

                        height: 8px;
                        width: 8px;
                    }
                }
            }
        }
    }
}

// Drawer Case.
#block-region-side-pre {

    section[data-block="newsslider"] {

        background: #fff;
    
        & .card-body {
    
            padding: 0 !important;
            min-width: max-content;
    
            & h3.card-title, h5.card-title {
                display: none !important;
            }
    
            & .card-text {
    
                overflow: visible !important;
                display: flex;
                min-height: 100%;
    
                & #newsLabelContent{
    
                    display: flex;
                    flex-direction: column;
    
                    & .actualitesIcon {
    
                        position: relative;
        
                        background-color: #28a94d;
                        padding: 10px 15px 10px 15px;
                        border-radius: 0.3rem;
        
                        font-weight: 600;
                        color: $clr-TC-primaire;
    
                        margin-left: 20px;
                        max-width: 250px;    
                        min-width: 250px;
                        text-wrap: pretty;
                    }
    
                    & #newsList {
    
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        min-width: 100%;
                        min-height: 110px;
                            
                        & #actualitesList {
        
                            display: flex;
                            list-style-type: none;
                            position: absolute;
                            min-width: 95%;
                            align-items: center;
                            margin: 0;
                            min-height: 100%;
                            height: 100%;
            
                            & .actualitesListItem {
            
                                position: absolute;
                                visibility: hidden;
                                opacity: 0;
                                min-height: 110px;
                                padding: 10px 0;
            
                                transition: all 1s ease-in-out;
                                animation-timing-function: ease-in-out;
                                -webkit-animation-timing-function: ease-in-out;
            
                                &.glideAppear {
            
                                    opacity: 0;
                                    visibility: hidden;
                                    left: 60px;
                                    animation: newsglideRtoLApp 0.25s;
                                    animation-fill-mode: forwards;
                                }
            
                                &.glideDisappear {
            
                                    opacity: 1;
                                    visibility: visible;
                                    left: 30px;
                                    animation: newsglideRtoLDis 0.25s;
                                    animation-fill-mode: forwards;
                                }
            
                                &:hover {
                                    text-decoration: underline;
                                }
            
                                & .actualitesCategories {
            
                                    font-size: 110%;
                                    color: #28a94d;
            
                                }
            
                                & a {
            
                                    text-decoration: none;
                                    font-size: 100%;
                                    color: $clr-TC-police;
                                }
            
                            }
                        }
                    }
                }
                        
                & #dotContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 18px;
    
                    .dots {
    
                        border-radius: 50%;
                        display: inline-block;
                        margin: 0 5px 0 5px;
    
                        transition: all 0.25s ease-in-out;
                        animation-timing-function: ease-in-out;
                        -webkit-animation-timing-function: ease-in-out;
    
                        &.grey {
    
                            background-color: #a9a9a9;
                            opacity: 80%;
    
                            &:hover {
    
                                background-color: #a9a9a9;
                                opacity: 100%;
                                cursor: pointer;
                            }
                        }
    
                        &.green {
    
                            background-color: #28a94d;
                            opacity: 80%;
    
                            &:hover {
    
                                background-color: #28a94d;
                                opacity: 100%;
                                cursor: pointer;
                            }
                        }
    
                        &.lrg {
    
                            height: 12px;
                            width: 12px;
                        }
    
                        &.sml {
    
                            height: 8px;
                            width: 8px;
                        }
                    }
                }
            }
        }
    }
}


@keyframes newsglideRtoLApp {
    to {
        opacity: 1;
        visibility: visible;
        left: 30px;
    }
}

@keyframes newsglideRtoLDis {
    to {
        opacity: 0;
        visibility: hidden;
        left: 60px;
    }
}

.mandatoryfields {
    color: #e54f6b;
    font-style: italic;
}

.formsettingheading {
    & p {
        font-size : 20px !important;
        font-weight: bold !important;
        margin-top: 10px !important;
    }
}

[id^="admin-newstitle"] {
    & [id^="id_s_block_newsslider_newstitle"], [id^="id_s_block_newsslider_newscontent"], [id^="id_s_block_newsslider_newsurl"] {
        width: 100% !important;
    }
}
