<div id="newsList"><ul id="actualitesList">
{{#newsitems}}
<li class="actualitesListItem {{class}}">
    <span class="actualitesCategories" style="color: {{color}};">{{title}} :</span>
    <a href={{link}} target={{target}}>{{content}}</a>
</li>
{{/newsitems}}
</ul></div>